* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-navigation ul {
    text-align: center;
}

.content-conteiner {
    width: 1280;
    margin: 0 auto;
}


.header {
    padding: 26px 0;
}

.header-navigation li {
    display: inline;
    margin: 0 36px;
}

.banner {
    height: 789px;
    background-image: url("../img/image 1.jpg");
    margin-bottom: 49px;
}

.main {
    height: 650px;
    color: #373737;
    padding-top: 48px;
    text-align: center;
}
.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}
.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;

}

.main-paragraph-first {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.main-paragrafh-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-top: 28px;
}

.main-button {
width: 105px;
height: 16px;
background: #FF0000;
border-radius: 4px;
margin-top: 84px;
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
cursor: pointer;
}

.footer {
 padding: 40px 0 29px 900px;   
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
}

